<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.bluemoon.mapper.AdminWaterparkMapper">

	<!-- ■Waterpark's News Mapper -->
	<insert id="insertNews" parameterType="OceanNews">
		<selectKey resultType="int" keyProperty="newsNo" order="BEFORE">
			select news_no_seq.nextval from dual
		</selectKey>
		
		insert into
			ocean_news
		values
			(
				#{newsNo},
				sysdate,
				#{newsCont},
				#{newsUno}
			)
	</insert>
	
	<update id="updateNews">
		update
			ocean_news
		set
			news_cont=#{newsCont}
		where
			news_no=#{newsNo}
	</update>
	
	<delete id="deleteNews">
		delete from
			ocean_news
		where
			news_no=#{newsNo}
	</delete>
	
	<resultMap id="newsResultMap" type="AdminOceanNews" >
		<result property="newsNo" column="news_no"/>
		<result property="newsDate" column="news_date"/>
		<result property="newsCont" column="news_cont"/>
		<result property="newsUno" column="news_uno"/>
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
	</resultMap>
	
	<select id="selectNewsList" resultMap="newsResultMap">
		 select 
			a.*,
			b.user_no,
			b.user_id,
			b.user_name
		from
			ocean_news a
		join
			bluemoon_user b
		on
			a.news_uno=b.user_no
		order by
			a.news_no desc
	</select>
	
	<select id="selectNews" resultMap="newsResultMap">
		 select 
			a.*,
			b.user_no,
			b.user_id,
			b.user_name
		from
			ocean_news a
		join
			bluemoon_user b
		on
			a.news_uno=b.user_no
		where 
			news_no=#{newsNo}
	</select>
	
	<!-- ■Waterpark's Charge Mapper -->
	<select id="selectChargeList" resultType="OceanChargeDTO">
		select
			* 
		from
			ocean_charge
		order by
			cg_no
	</select>
	
	<select id="selectCharge" resultType="OceanChargeDTO">
		select
			*
		from
			ocean_charge
		where
			cg_no=#{cgNo}
	</select>
	
	<insert id="insertCharge" parameterType="OceanChargeDTO">
		<selectKey resultType="int" keyProperty="cgNo" order="BEFORE">
			select cg_no_seq.nextval from dual
		</selectKey>
		
		insert into
			ocean_charge
		values
			(
				#{cgNo},
				#{cgName},
				#{cgSeason},
				#{cgPrice}
			)
	</insert>
	
	<delete id="deleteCharge" parameterType="int">
		delete from
			ocean_charge
		where
			cg_no=#{cgNo}
	</delete>
	
	<update id="updateCharge" parameterType="OceanChargeDTO">
		update
			ocean_charge
		<set>
			<if test="cgName!=null and cgName!=''">
				cg_name=#{cgName},
			</if>
			<if test="cgSeason!=null and cgSeason!=''">
				cg_season=#{cgSeason},
			</if>
			<if test="cgPrice!=null and cgPrice!=''">
				cg_price=#{cgPrice}
			</if>
		</set>
		
		where
			cg_no=#{cgNo}
	</update>
	 
	<!-- ■Waterpark's Reservation Mapper -->
	<select id="selectReservationList" resultType="OceanReservationDTO">
		select
			*
		from 
			ocean_reservation 
		order by
			rs_no desc
	</select>
	
	<select id="selectReservation" resultType="OceanReservationDTO">
		select
			*
		from 
			ocean_reservation
		where
			rs_no=#{rsNo}
	</select>
	
	<update id="deleteReservation" parameterType="int">
		update
			ocean_reservation
		set
			rs_state=0
		where
			rs_no=#{rsNo}
	</update>	
	
	<update id="updateReservation" parameterType="OceanReservationDTO">
		update
			ocean_reservation
		<set>
			<if test="rsState!=null and rsState!=''">
				rs_state=#{rsState},
			</if>
			<if test="rsPhone!=null and rsPhone!=''">
				rs_phone=#{rsPhone},
			</if>
			<if test="rsUsedate!=null and rsUsedate!=''">
				rs_usedate=#{rsUsedate}
			</if>
			<if test="rsTicket!=null and rsTicket!=''">
				rs_ticket=#{rsTicket}
			</if>
			<if test="rsAdult!=null and rsAdult!=''">
				rs_adult=#{rsAdult}
			</if>
			<if test="rsChild!=null and rsChild!=''">
				rs_child=#{rsChild}
			</if>
			<if test="rsPrice!=null and rsPrice!=''">
				rs_price=#{rsPrice}
			</if>
			<if test="rsOption!=null and rsOption!=''">
				rs_Option=#{rsOption}
			</if>
		</set>
		
		where
			rs_no=#{rsNo}
	</update>
	
</mapper>