<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.bluemoon.mapper.AdminHotelMapper">
	<!-- 호텔 예약 단일행 검색하기 -->
	<select id="selectHotelReserve" parameterType="int" resultType="hotelReserveDTO">
		select * from HOTEL_RESERVE where RESERVE_NO = #{reserveNo}
	</select>
	
	<!-- 호텔 예약 리스트 검색하기 -->
	<select id="selectHotelReserveList" resultType="hotelReserveDTO">
		select * from HOTEL_RESERVE order by RESERVE_NO desc
	</select>
	
	<!-- 호텔 예약 변경하기 -->
	<update id="updateHotelReserve">
		UPDATE HOTEL_RESERVE
		
		<set>
			<if test="reserveCheckIn!=null and reserveCheckIn!=''">
				RESERVE_CHECK_IN=#{reserveCheckIn}
			</if>
			<if test="reserveCheckOut!=null and reserveCheckOut!=''">
				RESERVE_CHECK_OUT=#{reserveCheckOut}
			</if>
			<if test="reserveMemno!=null ">
				RESERVE_MEMNO=#{reserveMemno}
			</if>
			<if test="reserveRoom!=null and reserveRoom!=''">
				RESERVE_ROOM=#{reserveRoom}
			</if>
			<if test="reserveMemphone!=null and reserveMemphone!=''">
				RESERVE_MEMPHONE=#{reserveMemphone}
			</if>
			<if test="reserveMememail!=null and reserveMememail!=''">
				RESERVE_MEMEMAIL=#{reserveMememail}
			</if>
			<if test="reservePrice!=null and reservePrice!=''">
				RESERVE_PRICE=#{reservePrice}
			</if>
		</set>
		
		 WHERE RESERVE_NO=#{reserveNo}
	</update>
	
	<!-- 호텔 리뷰 리스트 검색하기 -->
	<select id="selectHotelReviewList">
		select * from HOTEL_COMMENT order by COMMENT_NO desc
	</select>
	
	<!-- 호텔 리뷰 단일행 검색하기 -->
	<select id="selectHotelReview">
		select * from HOTEL_COMMENT where COMMENT_NO =#{commentNo}
	</select>
	
	<!-- 호텔 카테고리 추가 -->
	<insert id="insertHotelCategory">
		<selectKey resultType="int" keyProperty="hotelCategoryNo" order="BEFORE">
			select hotel_category_sequence.nextval from dual
		</selectKey>
		INSERT INTO HOTEL_CATEGORY VALUES(#{hotelCategoryNo},#{HotelCategoryName},#{hotelCategoryImg1},#{hotelCategoryImg2},#{hotelCategoryImg3},#{hotelCategoryImg4},#{HotelCategoryPrice},#{HotelCategoryQty})
	</insert>
	
	<!-- 호텔 카테고리 변경 -->
	<update id="updateHotelCategory">
		update HOTEL_CATEGORY 
			<set>
				<if test="HotelCategoryName!=null and HotelCategoryName!=''">
					HOTEL_CATEGORY_NAME=#{HotelCategoryName}
				</if>
				<if test="hotelCategoryImg1!=null and hotelCategoryImg1!=''">
					HOTEL_CATEGORY_IMG1=#{hotelCategoryImg1}
				</if>
				<if test="hotelCategoryImg2!=null and hotelCategoryImg2!=''">
					HOTEL_CATEGORY_IMG2=#{hotelCategoryImg2}
				</if>
				<if test="hotelCategoryImg3!=null and hotelCategoryImg3!=''">
					HOTEL_CATEGORY_IMG3=#{hotelCategoryImg3}
				</if>
				<if test="hotelCategoryImg4!=null and hotelCategoryImg4!=''">
					HOTEL_CATEGORY_IMG4=#{hotelCategoryImg4}
				</if>
				<if test="HotelCategoryPrice!=null">
					HOTEL_CATEGORY_PRICE=#{HotelCategoryPrice}
				</if>
				<if test="hotelCategoryQty!=null">
					HOTEL_CATEGORY_QTY=#{hotelCategoryQty}
				</if>
			</set>
		where HOTEL_CATEGORY_NO=#{hotelCategoryNo}
	</update>

</mapper>