<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.bluemoon.mapper.AdminMemberWaterparkMapper">

	<!-- ■Member's Mapper -->
	<!-- 회원가입 -->
	<insert id="insertMember">
		<selectKey resultType="int" keyProperty="userNo"  order="BEFORE">
			select user_sequence.nextval from dual
		</selectKey>
		
		insert into
			user
		values
			(
				#{userNo},
				#{userId},
				#{userPassword},
				#{userName}, 
				#{userBirthday},
				#{userPhone},
				#{userEmail},
				#{userSex},
				#{userZipcode},
				#{userAddress1},
				#{userAddress2},
				3000,
				sysdate,
				sysdate,
				null,
				1
				
			)
	</insert>
	
	<!-- 회원수정-->
	<update id="updateMember">
		update
			user
		set
			userPassword=#{userPassword},
			userName=#{userName}, 
			userBirthday=#{userBirthday},
			userPhone=#{userPhone},
			userEmail=#{userEmail},
			userSex=#{userSex},
			userZipcode=#{userZipcode},
			userAddress1=#{userAddress1},
			userAddress2=#{userAddress2},
			userPoint=#{userPoint},
			userWithdrowdate=#{userWithdrowdate},
			userState=#{userState}
		where
			userNo=#{userNo}
	</update>
	
	<!-- 회원삭제처리-->
	<update id="deleteMember">
		update
			user
		set
			userState=4
		where
			userNo=#{userNo}
	</update>
<!-- 	
	체크된 회원삭제처리
	<update id="deleteChectMembers" parameterType="list">
		update
			user
		set
			userState=4
	
		<if test="list != null">
			where userNo in
		</if>
		
		<foreach item="userNo" collection="list" open="(" close=")" separator=",">
			#{userNo}
		</foreach>
		
	</update>
	 -->
	<!-- ■Waterpark's News Mapper -->
	<insert id="insertNews" parameterType="OceanNews">
		<selectKey resultType="int" keyProperty="newsNo" order="BEFORE">
			select news_no_seq.nextval from dual
		</selectKey>
		
		insert into
			ocean_news
		values
			(
				#{newsNo},
				sysdate,
				#{newsCont},
				#{newsUno}
			)
	</insert>
	
	<update id="updateNews" >
		update
			ocean_news
		set
			news_cont=#{newsCont}
		where
			news_no=#{newsNo}
	</update>
	
	<delete id="deleteNews">
		delete from
			ocean_news
		where
			news_no=#{newsNo}
	</delete>
	
	<select id="selectNews" resultType="OceanNews">
		select 
			* 
		from 
			ocean_news 
		where 
			news_no=#{newsNo}
	</select>
	
	<select id="selectNewsList" resultType="OceanNews">
		select 
			* 
		from 
			ocean_news  
		order by 
			news_no desc
	</select>
	
	<!--  체크박스 선택되 사람만 삭제-->
	<delete id="deleteCheckNews" parameterType="list">
		delete from
			ocean_news
	
		<if test="list != null">
			where newsNo in
		
			<foreach item="newsNo" collection="list" open="(" close=")" separator=",">
				#{newsNo}
			</foreach>
		</if>
	</delete>
	 
	
</mapper>