<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.HotelMapper">
	<!-- 예약 테이블 값 저장 -->
	<insert id="insertReserveHotel">
		insert into hotel_reserve values('20200015',sysdate,(TO_DATE(#{reserveCheckIn},'YYYY-MM-DD'))
		,(TO_DATE(#{reserveCheckOut},'YYYY-MM-DD')),'1013',#{reserveRoom},#{reserveMemphone},#{reserveMememail},#{reservePrice},1)
	</insert>
	
	<!-- 카테고리 테이블 값 출력 -->
	<select id="selectHotelCategoryList" resultType="HotelCategory">
		select * from hotel_category order by HOTEL_CATEGORY_NO
	</select>
	
	<!-- 단일행 카테고리 값 출력 -->
	<select id="selectHotelCategory" resultType="HotelCategory" parameterType="int">
		select * from hotel_category where HOTEL_CATEGORY_NO =#{hotelCategoryNo}
	</select>
	
	<!-- 결제 테이블 값 저장 -->
	<insert id="insertHotelPay">
	insert into hotel_pay values('20200015','1013',#{hotelPayment},1,#{hotelPayPrice},#{hotelMempoint},sysdate)
	</insert>
</mapper>