<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.HotelMapper">
	<!-- 예약 테이블 값 저장 -->
	<insert id="insertReserveHotel">
	<selectKey resultType="int" keyProperty="reserveNo" order="BEFORE">
			select RESERVE_SEQ.nextval from dual
		</selectKey>
		insert into hotel_reserve values(#{reserveNo},sysdate,(TO_DATE(#{reserveCheckIn},'YYYY-MM-DD'))
		,(TO_DATE(#{reserveCheckOut},'YYYY-MM-DD')),#{reserveMemno},#{reserveRoom},#{reserveMemphone}
		,#{reserveMememail},#{reservePrice},1,#{reserveMemname},#{reserveperson})
	</insert>
	
	<!-- 카테고리 테이블 값 출력 -->
	<select id="selectHotelCategoryList" resultType="HotelCategory">
		select * from hotel_category order by HOTEL_CATEGORY_NO
	</select>
	
	<!-- 단일행 카테고리 값 출력 -->
	<select id="selectHotelCategory" resultType="HotelCategory" parameterType="int">
		select * from hotel_category where HOTEL_CATEGORY_NO =#{hotelCategoryNo}
	</select>
	
	<!-- 결제 테이블 값 저장 -->
	<insert id="insertHotelPay">
	insert into hotel_pay values(#{hotelPayNo},#{hotelPayMemno},#{hotelPayment},1,#{hotelPayPrice},#{hotelMempoint},sysdate)
	</insert>
	
	<!-- 포인트 처리용 결제번호 검색 -->
	<select id="selectPayNo" resultType="HotelPay">
		select * from hotel_pay where hotel_pay_no=#{hotelPayNo}
	</select>
	<!-- 유저 포인트 저장 -->
	<update id="updateUserPointPlus" parameterType="User" >
		update bluemoon_user set user_point =user_point+ #{userPoint} where user_no=#{userNo}
	</update>
	
	<!-- 결제 취소시 포인트 변경 -->
	<update id="updatePointUserMinus">
		update bluemoon_user user_point =user_point- #{userPoint} where user_no=#{userNo}
	</update>
	
</mapper>