<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.HotelMapper">
	<!-- 예약 테이블 값 저장 -->
	<insert id="insertReserveHotel">
		insert into hotel_reserve values(#{reserveNo},sysdate,(TO_DATE(#{reserveCheckIn},'YYYY-MM-DD'))
		,(TO_DATE(#{reserveCheckOut},'YYYY-MM-DD')),#{reserveMemno},#{reserveRoom},#{reserveMemphone}
		,#{reserveMememail},#{reservePrice},2,#{reserveMemname},#{reserveperson})
	</insert>
	
	<!-- 카테고리 테이블 값 출력 -->
	<select id="selectHotelCategoryList" resultType="HotelCategory">
		select * from hotel_category order by HOTEL_CATEGORY_NO
	</select>
	
	<!-- 단일행 카테고리 값 출력 -->
	<select id="selectHotelCategory" resultType="HotelCategory" parameterType="int">
		select * from hotel_category where HOTEL_CATEGORY_NO =#{hotelCategoryNo}
	</select>
	
	<!-- 결제 테이블 값 저장 -->
	<insert id="insertHotelPay">
	insert into hotel_pay values(#{hotelPayNo},#{hotelPayMemno},#{hotelPayment},2,#{hotelPayPrice},#{hotelPayMempoint},sysdate,#{userPoint})
	</insert>
	
	<update id="removeReserve">
		update hotel_reserve set reserve_state=0 where reserve_no=#{reserveNo}
	</update>
	
	<update id="removePay">
		update hotel_Pay set hotel_pay_state=0 where hotel_pay_no=#{hotelPayNo}
	</update>
	
	<!-- 포인트 처리용 결제번호 검색 -->
	<select id="selectPayNo" resultType="HotelPay">
		select * from hotel_pay where hotel_pay_no=#{hotelPayNo}
	</select>
	<!-- 유저 포인트 저장 -->
	<update id="updateUserPointPlus" parameterType="User" >
		update bluemoon_user set user_point =user_point+ #{userPoint} where user_no=#{userNo}
	</update>
	
	<!-- 결제 취소시 포인트 변경 -->
	<update id="updatePointUserMinus">
		update bluemoon_user set user_point =user_point- #{userPoint} where user_no=#{userNo}
	</update>
	
	<!-- 조인용 리절트맵 
	<resultMap type="hotelPay" id="hotelPayMap">
		<id column="hotel_pay_no" property="hotelPayNo"/>
		<result column="hotel_pay_mempoint" property="hotelMempoint"/>
		<result column="hotel_pay_price" property="hotelPayPrice"/>
	</resultMap>
	
	<resultMap type="HotelReserve" id="HotelReserveMap">
		<association property="hotelPay" javaType="hotelPay" resultMap="hotelPayMap"/>
		<association property="hotelReserve" column="reserve_no" select="selectMemList"/>
	</resultMap>
	  전체 내역 조회  
	 
	 <select id="selectAllList" resultMap="HotelReserveMap">
		select * from hotel_Pay where hotel_pay_no=#{hotelPayNo}
	</select>
	 
	<select id="selectMemList" parameterType="int" resultType="HotelReserveDTO">
		select * from hotel_reserve where reserve_no=#{reserveNo} order by reserve_no desc
	</select>-->
	<!-- 단일행 카테고리 값 출력 -->
		<select id="selectMemreserve" resultType="HotelReserveDTO" parameterType="int">
			select * from hotel_reserve where reserve_no =#{no} 
		</select>
	
	<!-- 예약번호 시퀀스 요청용 -->
	<select id="selectReserveNo"  resultType="int">
		select RESERVE_SEQ.nextval from dual 
	</select>
	
	<!-- 호텔 Comment 출력  -->
	<select id="hotelComment" resultType="HotelComment" parameterType="int" >
		select * from hotel_comment where comment_room = #{commentRoom}
	</select>
</mapper>