<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.OceanMapper">



	<!-- 호텔 예약 -->
	<insert id="insertOceanReservation">
		<selectKey resultType="int" keyProperty="rsNo"
			order="BEFORE">
			select rs_no_seq.nextval from dual
		</selectKey>

		insert into ocean_reservation values
		(#{rsNo},
		#{rsUno},
		#{rsName},
		#{rsPhone},
		sysDate,
		#{rsUsedate},
		#{rsTicket},
		#{rsAdult},
		#{rsChild},
		1,
		#{rsPrice},
		#{rsOption})
	</insert>
	
	<delete id="deleteOcean">
		delete from ocean_reservation where rs_no=#{rsNo}
	</delete>
	
	<!-- 
	<update id="updateOcean">
		update ocean_reservation set rs_state=0 where rs_no=#{rsNo}
	</update>
	 -->
	<!-- 
	<update id="updateOcean">
		update ocean_reservation set rs_state=0 where rs_no=#{rsNo}
	</update>
	
	<select id="updateList" resultType="OceanReservationDTO" parameterType="int">
		select * from ocean_reservation where rs_no=#{rsNo}		
	</select>
	-->
	<select id="selectOceanCharge" resultType="OceanChargeDTO" parameterType="int">
		select * from ocean_charge where cg_no=#{cgNo}
	</select>
	
	<select id="selectOceanChargeList" resultType="OceanChargeDTO">
		select * from ocean_charge order by cg_no
	</select>
	
	<select id="selectOceanPaymentList" resultType="OceanReservationDTO">
		select * from ocean_reservation order by rs_no
	</select>
 
	<select id="selectOceanPayment" resultType="OceanReservationDTO" parameterType="int">
		select * from ocean_reservation where rs_no=#{rsNo}		
	</select>

	<resultMap id="newsResultMap" type="AdminOceanNews" >
		<result property="newsNo" column="news_no"/>
		<result property="newsDate" column="news_date"/>
		<result property="newsCont" column="news_cont"/>
		<result property="newsUno" column="news_uno"/>
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
	</resultMap>
	
	<select id="selectNewsList" resultMap="newsResultMap">
		 select 
			a.*,
			b.*
		from
			ocean_news a
		join
			bluemoon_user b
		on
			a.news_uno=b.user_no
		order by
			a.news_no desc
	</select>
	
</mapper>

