<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.UserMapper">
	<insert id="insertUser">
		<selectKey resultType="int" keyProperty="userNo" order="BEFORE">
			select user_sequence.nextval from dual
		</selectKey>
		insert into bluemoon_user values(#{userNo},#{userId},#{userPassword},#{userName},#{userBirthday},#{userPhone},#{userEmail},
		#{userSex},#{userZipcode},#{userAddress1},#{userAddress2},#{userPoint},sysdate,#{userLogindate},#{userWithdrowdate},#{userState})
	</insert>
	
	<select id="selectUserFind" parameterType="map" resultType="User">
		select * from bluemoon_user 
		<where>
			user_state=1
			<if test="userId!=null and userId!=''">
				and user_id=#{userId}
			</if>
			<if test="userName!=null and userName!=''">
				and user_name=#{userName}
			</if>
			<if test="userPhone!=null and userPhone!=''">
				and user_phone=#{userPhone}
			</if>
			<if test="userEmail!=null and userEmail!=''">
				and user_email=#{userEmail}
			</if>
		</where>
	</select>
	
	<select id="selectUserId" parameterType="string" resultType="User">
		select * from bluemoon_user where user_id=#{userId}
	</select>
	
	<update id="updateUserLoginDate" parameterType="string">
		update bluemoon_user set user_logindate=sysdate where user_id=#{userid}
	</update>
	
	<update id="updateUserInfo" parameterType="User">
		update bluemoon_user
		<set>
			<if test="userPassword!=null and userPassword!=''">
				user_password=#{userPassword},
			</if>
			<if test="userName!=null and userName!=''">
				user_name=#{userName},
			</if>
			<if test="userPhone!=null and userPhone!=''">
				user_phone=#{userPhone},
			</if>
			<if test="userSex!=null and userSex!=''">
				user_sex=#{userSex},
			</if>
			<if test="userEmail!=null and userEmail!=''">
				user_Email=#{userEmail},
			</if>
			<if test="userZipcode!=null and userZipcode!=''">
				user_zipcode=#{userZipcode},
			</if>
			<if test="userAddress1!=null and userAddress1!=''">
				user_address1=#{userAddress1},
			</if>
			<if test="userAddress2!=null and userAddress2!=''">
				user_address2=#{userAddress2},
			</if>
			<if test="userState!=null and userState!=''">
				user_state=#{userState}
			</if>
		</set>
		where user_id=#{userId}
	</update>
	
	<update id="deleteUser" parameterType="string">
		update bluemoon_user set user_withdrowdate=sysdate,user_state=4 where user_id=#{userId}
	</update>
	
	<select id="selectUserWater" resultType="OceanReservationDTO">
		select * from ocean_reservation where rs_uno=#{rsUno} order by rs_uno desc
	</select>

	<select id="selectUserHotel" resultType="HotelReserveDTO">
		select * from hotel_reserve where reserve_memno=#{reserveMemno} order by reserve_memno desc
	</select>
</mapper>