<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bluemoon.mapper.UserMapper">
	<insert id="insertUser">
		<selectKey resultType="int" keyProperty="userNo" order="BEFORE">
			select user_sequence.nextval from dual
		</selectKey>
		insert into bluemoon_user values(#{userNo},#{userId},#{userPassword},#{userName},#{userBirthday},#{userPhone},#{userEmail},
		#{userSex},#{userZipcode},#{userAddress1},#{userAddress2},3000,sysdate,#{userLogindate},#{userWithdrowdate},1)
	</insert>
	
	<select id="selectUserPhone" parameterType="map" resultType="string">
		select user_id from bluemoon_user where user_name=#{userName} and user_phone=#{userPhone} and user_state=1
	</select>
	
	<select id="selectUserId" parameterType="string" resultType="User">
		select * from bluemoon_user where user_id=#{userId}
	</select>
	
	<update id="updateUserLoginDate" parameterType="string">
		update bluemoon_user set user_logindate=sysdate where user_id=#{userid}
	</update>
</mapper>